{% load static %} {% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />

    <!-- Site Title -->
    <title>Bexon - Corporate Business HTML Template</title>

    <!-- Place favicon.ico in the root directory -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/fav.png' %}"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/font-awesome-pro.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bexon-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/venobox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/odometer-theme-default.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>

  <body>
    <div class="body-overlay"></div>

    <!-- Preloader Start -->
    <div class="tj-preloader is-loading">
      <div class="tj-preloader-inner">
        <div class="tj-preloader-ball-wrap">
          <div class="tj-preloader-ball-inner-wrap">
            <div class="tj-preloader-ball-inner">
              <div class="tj-preloader-ball"></div>
            </div>
            <div class="tj-preloader-ball-shadow"></div>
          </div>
          <div class="tj-preloader-text">{% trans "Loading" %} ...</div>
        </div>
      </div>
      <div class="tj-preloader-overlay"></div>
    </div>
    <!-- Preloader end -->

    <!-- back to top start -->
    <div class="back-to-top-wrapper">
      <button id="back_to_top" type="button" class="back-to-top-btn">
        <span><i class="tji-arrow-up-long"></i></span>
      </button>
    </div>
    <!-- back to top end -->

    <!-- start: Search Popup -->
    <div class="search-popup-overlay"></div>
    <!-- end: Search Popup -->

    <!-- start: Offcanvas Menu -->
    {% include 'components/hamburger-menu.html' %}
    <!-- end: Hamburger Menu -->

    <!-- start: Header Area -->
    {% include 'components/navbar.html' %}
    <!-- end: Header Area -->

    <!-- start: Header Area -->
    {% include 'components/scroll-navbar.html' %}
    <!-- end: Header Area -->

    <main id="primary" class="site-main">
      <!-- start: Breadcrumb Section -->
      <section class="tj-page-header section-gap-x">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="tj-page-header-content text-center">
                <span id="tj-page-title" class="tj-page-title"
                  >{% trans "Meeting documents" %}</span
                >
                <div class="tj-page-link">
                  <span><i class="tji-home"></i></span>
                  <span>
                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                  </span>
                  <span><i class="tji-arrow-right"></i></span>
                  <span>
                    <span>{% trans "Meeting documents" %}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="page-header-overlay"
          data-bg-image="{% static 'assets/images/shape/pheader-overlay.webp' %}"
        ></div>
      </section>
      <!-- end: Breadcrumb Section -->

      <!-- start: Blog Section -->
      <section class="tj-blog-section section-gap">
        <div class="container">
          <div class="row row-gap-5">
            <div class="col-lg-8">
              <div class="post-details-wrapper">
                <h1 class="title title-anim mbn-title">{{ item.title }}</h1>
                <div
                  class="blog-category-two wow fadeInUp"
                  data-wow-delay=".3s"
                ></div>
                <div class="meeting-detail-header meet-doc-detail-head">
                  {% if item.date %}
                  <p class="meeting-detail-date meet-doc-detail-item">
                    <i class="tji-calendar"></i> {{ item.date }}
                  </p>
                  {% endif %} {% if item.location %}
                  <p class="meeting-detail-location meet-doc-detail-item">
                    <i class="tji-location"></i> {{ item.location }}
                  </p>
                  {% endif %}
                </div>

                <h3 class="wow fadeInUp section-title mbn-title" data-wow-delay=".3s">
                  {% trans 'Experts' %}
                </h3>
                <div class="blog-category-two wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"></div>
                <div class="blog-text expert-parent">
                  {% for exp in item.experts.all %}
                  <li class="wow fadeInUp expert-li" data-wow-delay=".3s">
                    <i class="fa fa-user-circle" aria-hidden="true" style="color:#0073e6; font-size:18px;"></i>
                    <span>{{ exp.title }}</span>
                  </li>
                  {% endfor %}
                </div>
                <h3 class="wow fadeInUp section-title mbn-title" data-wow-delay=".3s">
                  {% trans 'Documents' %}
                </h3>
                <div class="blog-category-two wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"></div>
                <div class="file-cards-container">
                  {% for file in item.files.all %}
                       <a class="file-card" href="{% if file.file %}{{ file.file.url }}{% endif %}">
                  
               
                    <div class="file-icon-container">
                      <!-- Classic file SVG icon -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="48"
                        height="48"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="#1e40af"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                        />
                        <polyline points="14 2 14 8 20 8" />
                      </svg>
                    </div>
                
                    <h2 class="file-title">{{ file.title }}</h2>
              
               
                    </a>
                  {% endfor %}
                </div>

                <div class="tj-tags-post wow fadeInUp" data-wow-delay=".3s">
                  <div class="post-share">
                    <ul>
                      <li>{% trans "Share" %}:</li>
                      <li>
                        <a href="https://www.facebook.com/" target="_blank"
                          ><i class="fa-brands fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://x.com/" target="_blank"
                          ><i class="fa-brands fa-x-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/" target="_blank"
                          ><i class="fa-brands fa-instagram"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/" target="_blank"
                          ><i class="fa-brands fa-linkedin-in"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="pin-spacer">
                <div class="tj-main-sidebar slidebar-stickiy">
                  <div
                    class="tj-sidebar-widget widget-categories wow fadeInUp"
                    data-wow-delay=".1s"
                  >
                    <h4 class="widget-title">{% trans "Social Networks" %}</h4>

                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="fab fa-twitter"></i>
                      </div>
                      <div class="project-text">
                        <span>{% trans "Twitter" %}</span>
                        <h6 class="title">
                          <a
                            href="https://twitter.com/yourprofile"
                            target="_blank"
                            >@yourprofile</a
                          >
                        </h6>
                      </div>
                    </div>

                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="fab fa-linkedin"></i>
                      </div>
                      <div class="project-text">
                        <span>{% trans "LinkedIn" %}</span>
                        <h6 class="title">
                          <a
                            href="https://linkedin.com/in/yourprofile"
                            target="_blank"
                            >linkedin.com/in/yourprofile</a
                          >
                        </h6>
                      </div>
                    </div>

                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="fab fa-whatsapp"></i>
                      </div>
                      <div class="project-text">
                        <span>{% trans "WhatsApp" %}</span>
                        <h6 class="title">
                          <a href="https://wa.me/1234567890" target="_blank"
                            >+1 234 567 890</a
                          >
                        </h6>
                      </div>
                    </div>

                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="fas fa-globe"></i>
                      </div>
                      <div class="project-text">
                        <span>{% trans "Website" %}</span>
                        <h6 class="title">
                          <a href="https://www.yourwebsite.com" target="_blank"
                            >www.yourwebsite.com</a
                          >
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end: Blog Section -->

      <!-- start: Cta Section -->

      <!-- end: Cta Section -->
    </main>

    <!-- start: Footer Section -->
    {% include 'components/footer.html' %}
    <!-- end: Footer Section -->

    <!-- JS here -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap-scroll-to-plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap-scroll-trigger.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap-split-text.min.js' %}"></script>
    <script src="{% static 'assets/js/smooth-scroll.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/odometer.min.js' %}"></script>
    <script src="{% static 'assets/js/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/appear.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %} "></script>

    <script src="{% static 'assets/js/navbar.js' %}"></script>
  </body>
</html>
