<div class="blog-video wow fadeInUp" data-wow-delay=".3s">
                    <img
                      src="{% static 'assets/images/blog/blog-video.webp' %}"
                      alt="Video"
                    />
                    <a
                      class="video-btn video-popup"
                      data-autoplay="true"
                      data-vbtype="video"
                      data-maxwidth="1200px"
                      href="https://www.youtube.com/watch?v=MLpWrANjFbI&ab_channel=eidelchteinadvogados"
                    >
                      <span><i class="tji-play"></i></span>
                    </a>
                  </div>