{% load static %} {% load i18n %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("{% url 'about_region_list' %}") 
      .then((response) => response.json())
      .then((data) => {
        const aboutList = document.getElementById("about-list3");
        const regionList = document.getElementById("region-list");

        data.about.forEach((item) => {
          console.log(item.title);
          const li = document.createElement("li");
          li.innerHTML = `<a href="/about/${item.slug}"
                        >${item.title}</a
                      >`;
          aboutList.appendChild(li);
        });

        data.region.forEach((item) => {
          const li = document.createElement("li");
          li.innerHTML = `<a href="/region/${item.slug}/">${item.title}</a>`;
          regionList.appendChild(li);
        });
      })
      .catch((error) => {
        console.error("Error fetching data:", error);
      });
  });
</script>

<footer class="tj-footer-section footer-1 section-gap-x">
  <div class="footer-main-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer-widget wow fadeInUp" data-wow-delay=".1s">
            <div class="footer-logo">
              <a href="{% url 'home' %}">
                <img
                  style="height: 75px"
                  src="{% static 'logo.png' %}"
                  alt="Logos"
                />
              </a>
            </div>
            <div class="footer-text">
              <p>
                {% trans 'WCO Europe Regional Office for Capacity Building' %}
              </p>
            </div>
 
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div
            class="footer-widget widget-nav-menu wow fadeInUp"
            data-wow-delay=".3s"
          >
            <h5 class="title">{% trans 'Links' %}</h5>
            <ul>
              <li><a href="{% url 'home' %}">{% trans 'Homepage' %}</a></li>
              <li><a href="{% url 'contact:contact' %}">{% trans 'Contact' %}</a></li>
              <li><a href="{% url 'news' %}">{% trans 'News' %}</a></li>
              <li><a href="{% trans 'analytics' %}">{% trans 'Analytics' %}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div
            class="footer-widget widget-nav-menu wow fadeInUp"
            data-wow-delay=".5s"
          >
            <h5 class="title">{% trans 'About us' %}</h5>
            <ul id="about-list3"></ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div
            class="footer-widget widget-subscribe wow fadeInUp"
            data-wow-delay=".7s"
          >
            <h3 class="title">{% trans "Follow us" %}</h3>
            <div class="subscribe-form">
              <form action="#">
                <input type="email" name="email" placeholder="Enter email" />
                <button type="submit"><i class="tji-plane"></i></button>
                <label for="agree"
                  ><input id="agree" type="checkbox" />Agree to our
                  <a href="#">Terms & Condition?</a></label
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tj-copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright-content-area">
            <div class="footer-contact">
              <ul>
                <li>
                  <a href="tel:10095447818">
                    <span class="icon"><i class="tji-phone-2"></i></span>
                    <span class="text">+1 (009) 544-7818</span>
                  </a>
                </li>
                <li>
                  <a href="mailto:info@bexon.com">
                    <span class="icon"><i class="tji-envelop-2"></i></span>
                    <span class="text">info@bexon.com</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="social-links">
              <ul>
                <li>
                  <a href="https://www.facebook.com/" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://x.com/" target="_blank"
                    ><i class="fa-brands fa-x-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank"
                    ><i class="fa-brands fa-linkedin-in"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>
                &copy; 2025 <a
                  href="https://themeforest.net/user/theme-junction/portfolio"
                  target="_blank"
                  >Bexon</a
                >
                All right reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-shape-1">
    <img src="{% static 'assets/images/shape/pattern-2.svg' %}" alt="" />
  </div>
  <div class="bg-shape-2">
    <img src="{% static 'assets/images/shape/pattern-3.svg' %}" alt="" />
  </div>
</footer>
