{% load static %} {% load i18n %}

<div class="col-lg-4">
  <div class="tj-main-sidebar sticky-lg-top">
    <div
      class="tj-sidebar-widget widget-categories wow fadeInUp"
      data-wow-delay=".1s"
    >
      <h4 class="widget-title">{% trans "Social Networks" %}</h4>

      <div class="infos-item">
        <div class="project-icons">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="project-text">
          <span>{% trans "Twitter" %}</span>
          <h6 class="title">
            <a href="https://x.com/ROCB_Europe" target="_blank">@ROCB_Europe</a>
          </h6>
        </div>
      </div>

      <div class="infos-item">
        <div class="project-icons">
          <i class="fab fa-linkedin"></i>
        </div>
        <div class="project-text">
          <span>{% trans "LinkedIn" %}</span>
          <h6 class="title">
            <a
              href="https://www.linkedin.com/company/rocb-europe/"
              target="_blank"
              >linkedin.com/company/rocb-europe</a
            >
          </h6>
        </div>
      </div>

      <div class="infos-item infos-item-phone">
        <div class="project-icons">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="project-text">
          <span>{% trans "Phone numbers" %}</span>
          <h6 class="title">
            <a href="tel:(+994 12) 464-31-34" target="_blank"
              >(+994 12) 464-31-34</a
            >
            <a href="tel:(+994 12) 464-31-35" target="_blank"
              >(+994 12) 464-31-35</a
            >
          </h6>
        </div>
      </div>

      <div class="infos-item">
        <div class="project-icons">
          <i class="fas fa-globe"></i>
        </div>
        <div class="project-text">
          <span>{% trans "Website" %}</span>
          <h6 class="title">
            <a href="https://rocb-europe.org/" target="_blank">rocb-europe.org</a>
          </h6>
        </div>
      </div>
    </div>
    {% if tabs|length > 1 %}
    <div
      class="tj-sidebar-widget service-categories wow fadeInUp"
      data-wow-delay=".1s"
    >
      <h4 class="widget-title">{% trans "Discover More" %}</h4>
      <ul>
    {% for tab in tabs %}
    {% if request.resolver_match.url_name == "about_tab" %}
        <a href="{% url 'about:about_tab' tab.slug %}"
           class="{% if tab == selected_tab %}active{% endif %}">
            {{ tab.title }}
        </a>
    {% elif request.resolver_match.url_name in "events_detail events" %}
        <a href="{% url 'events_detail' tab.slug %}"
           class="{% if tab == selected_tab %}active{% endif %}">
            {{ tab.title }}
        </a>
    {% elif request.resolver_match.url_name in "news_detail news" %}
        <a href="{% url 'news_detail' tab.slug %}"
           class="{% if tab == selected_tab %}active{% endif %}">
            {{ tab.title }}
        </a>
    {% endif %}
    {% elif request.resolver_match.url_name == "region" %}
        <a href="{% url 'region_default' tab.slug %}"
           class="{% if tab == selected_tab %}active{% endif %}">
            {{ tab.title }}
        </a>
    {% endif %}
{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if tags|length > 1 %}
      <div class="tj-sidebar-widget widget-tag-cloud wow fadeInUp" data-wow-delay=".7s">
        <h4 class="widget-title">{% trans 'Tags' %}</h4>
        <nav>
          <div class="tagcloud">
            <div class="tagcloud">
              {% for tag in tags %}
              {% if tag %}
                {% if request.GET.t == tag %}
                  {# Tag is active, clicking removes it #}
                  <a href="?{% if request.GET.s %}s={{ request.GET.s }}{% endif %}"
                    class="activeTag">
                    {{ tag }}
                  </a>
                {% else %}
                  {# Tag is not active, clicking sets it #}
                  <a href="?t={{ tag }}{% if request.GET.s %}
                      &s={{ request.GET.s }}
                    {% endif %}">
                    {{ tag }}
                  </a>
                {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </nav>
      </div>
    {% endif %}
  </div>
</div>
